/*Variables*/
$color-dark: #bdc3c7;
$font-text: 'Source Sans Pro', sans-serif;

/*Global*/

body {
  font-family: $font-text;
}

a:hover {
  text-decoration: none;
}

i {
  font-size: 16px;
}

p {
  font-size: 1.2rem;
}

/*Navbar*/

.navbar h1 {
  font-size: 1.2rem;
}

/*Carousel*/
.carousel-item {
  height: 100vh;
    & img {
      height: 100%;
      object-fit: cover;
    }
}

.slider {
  & h2 {
    font-size: 5rem;
  }
  & p {
    font-size: 3rem;
  }
}

.carousel-caption {
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%,-50%);
}

/*Products*/
.card img {
  width: 100%;
  height: 300px; 
  object-fit: cover;
}

/*Contact*/
.contact {
  background-color: $color-dark;
  .card {
    background-color: inherit;
    border: none;
  }
}

/* Media */
@media (max-width: 992px) {
  .slider {
    & h2 {
      font-size: 2.5rem;
    }
    & p {
      font-size: 1.5rem;
    }
  }
}